/* these styles are specific to the homepage section of the website */
/* target screen size is 320 up*/
/* these are the styles for the topleft section of the homepage */
section.top-left-section {
    border: 2px solid red;
    display: flex;
    gap: 0;
    flex-direction: column;
    background: linear-gradient(to bottom, #fff8e7, #99958B);
}

img.girl-coding-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

img.thinking-cloud {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    position: relative;
    top: 60px;
    padding: 5px;
}

div.header-section {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

div.intro-text-container {
    /* border: 2px solid orange; */
    position: absolute;
    top: 60px;
    width: 60%;
    margin: 10% 15%;
    text-align: center;
}

div.intro-text-container h3.intro-heading {
    font-family: 'Coiny';
    -webkit-text-stroke-color: #ffaa07;
    -webkit-text-stroke-width: 1px;
    color: transparent;
    opacity: 0.8;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 35px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div.intro-text-container p.intro-text {
    color: #fff8e7;
    text-align: center;
}

/* styles for the bottom right section of the homepage */
section.bottom-right-section {
    border: 2px solid blue;
    /* height: 100vh; */
    background-color: #494949;
    color: #fff8e7;
}

div.description-container p {
    margin: 0;
}

div.description-container {
    /* border: 2px solid yellow; */
    border-top: 1px solid rgba(255, 248, 231, 0.2);
    /* border-bottom: 1px solid rgba(255, 248, 231, 0.2); */
    width: 95%;
    margin: 50px 2.5%;
    background-image: repeating-linear-gradient(to bottom,
            transparent,
            transparent 2.7em,
            rgba(255, 248, 231, 0.2) 2.8em,
            rgba(255, 248, 231, 0.2) 2.7em);
}

div.ideas-text-container {
    /* border: 2px solid pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

div.ideas-text-container span.ideas-text {
    position: absolute;
    /* border: 2px solid white; */
    font-family: 'Coiny';
    color: #FFD54F;
}

div.ideas-text-container img {
    width: 95px;
    height: 95px;
}

div.container {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    gap: 2px;
    margin-top: 10px;
}

/* styles for the sticky note that goes on the bottomright section */
div.sticky-note.home-sticky-note {
    /* border: 2px solid green; */
    position: relative;
    top: 20px;

}

div.sticky-note.home-sticky-note div.note {
    width: 120px;
    height: 90px;
}

div.sticky-note.home-sticky-note div.note p.sticky-note-text {
    font-family: 'Coiny';
    text-transform: uppercase;
    font-size: 1.1em;
}

div.sticky-note.home-sticky-note div.tape {
    font-family: 'Coiny';
    height: 45px;
    width: 30px;
    position: relative;
    bottom: 15px;

}

div.container-two {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    gap: 20px;
}

div.note img.logo {
    margin-top: 25px;
    height: 30px;
    width: 50px;
}

div.note p.sticky-note-text {
    text-align: center;
    -webkit-text-stroke-color: #494949;
    -webkit-text-stroke-width: 1px;
    color: #494949;
    margin: 0;
    margin-top: 5px;

}

/* end of sticky note styles */

/*  styles for the text on the bottom right section*/
span.i-like-text {
    color: #FF5E7A;
}

span.transforming-text {
    background: linear-gradient(to right, #FFAA07, #FFFFE0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: clamp(1.3em, 5vw + 0.5em, 5em);
}

span.code-text {
    font-size: clamp(1.3em, 5vw + 0.5em, 5em);
    color: #FFD54F;
}

/* styles for the button in the bottom right section */
div.button-container {
    /* border: 2px solid red; */
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px 10%;
    position: relative;
    align-items: center;
    justify-content: center;
}

svg.home-section-button-border {
    stroke: #fff8e7;
    /* z-index: 1; */
}

button.resume-button {
    border: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    font-family: 'Hachi Maru Pop';
    -webkit-text-stroke-color: rgba(255, 170, 7, 0.5);
    -webkit-text-stroke-width: 1px;
    color: #fff8e7;
    font-size: 1.4em;
    cursor: pointer;
}

/* media queries for the home section */
@media (min-width: 720px) {
    section.home {
        display: flex;
    }

    section.bottom-right-section {
        flex: 1;
    }

    section.top-left-section {
        flex: 1;
    }

}