/* these are the general styles of the sticky note */

div.sticky-note {
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.note {
    box-sizing: border-box;
    box-shadow: 0 18px 25px rgba(0, 0, 0, 0.8);
    position: relative;
    width: 287px;
    height: 239px;
    bottom: 40px;
    background: linear-gradient(0deg, #ffaa0799, #ffaa0799), url('../../../assets/images/background-images/paper-background.jpg');
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: contain;
    /* justify-content: space-between; */
}

div.tape {
    background: rgba(255, 248, 231, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
    height: 100px;
    width: 50px;
}