@font-face {
  font-family: 'Hachi Maru Pop';
  src: url('./assets/fonts/Hachi_Maru_Pop/HachiMaruPop-Regular.ttf');
}

@font-face {
  font-family: 'Coiny';
  src: url('./assets/fonts/Coiny/Coiny-Regular.ttf');
}

body {
  font-family: 'Hachi Maru Pop', Courier, monospace;
}

/* body {
  font-family: 'Coiny', Courier, monospace;
} */

h1 {
  font-family: 'Coiny';
  -webkit-text-stroke-color: #ffaa07;
  -webkit-text-stroke-width: 1px;
  color: transparent;
}